- name: Docker build and push
  hosts: localhost  # Remplacez par le nom d'hôte ou l'adresse IP de votre serveur cible
  become: yes  # Exécute les tâches avec des privilèges sudo

  tasks:
    - name: Update apt package cache
      apt:
        update_cache: yes

    - name: Build Docker Image
      docker_image:
        name: petstore
        path: /var/lib/jenkins/workspace/petstore
        state: present

    - name: Tag image
      command: docker tag petstore:latest akonal/petstore:latest

    - name: Log in to Docker Hub
      community.docker.docker_login:
        registry_url: https://index.docker.io/v1/
        username: akonal
        password: mvondal123

    - name: Push image
      docker_image:
        name: akonal/petstore
        tag: latest
        push: yes

    - name: Run container
      docker_container:
        name: pet1
        image: akonal/petstore:latest
        state: started
        ports:
          - "8081:8080"
